<div class="main-content-inner col-sm-12 col-md-8">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="post-inner-content">
                <header class="entry-header page-header">
                    <h1 class="entry-title">
                        <span class="entry-title-primary">About Me</span>
                        <span class="entry-subtitle">Senior .NET developer (C#) based in Charlotte, North Carolina (US)</span>
                    </h1>
                </header>
                <article id="post-148" class="post-148 page-header type-page status-publish hentry">
                    <p>Hello, my name is Erik Butcher. I'm a senior .NET developer and CISSP working in Charlotte, North Carolina (USA). I work primarily with WPF/ASP.NET Coreto help produce amazing financial and healthcare products at <span><a href="https://www.emporos.net/">Emporos Systems</a></span>. I also take on the role of developer community lead where my objectives are establishing a strong community of developers, sharing knowledge, and mentoring our developers. In this new role I'm very excited to be able to work with so many talented developers and help them to progress in their careers.</p>
                    <p>Outside of my work at Emporos, I maintain a strong interest and enthusiasm for development and being part of the fantastic .NET community. I consume many blog posts, podcasts, and videos to learn about the new technologies available to me. I'm very focused on the new ASP.NET Core product from Microsoft.</p>
                    <p>I am starting to speak at user groups and conferences about .NET and related technologies. I enjoy being able to share my passion and experiences with live audiences.</p>
                    <p>When not coding or learning about coding, I participate in the Maker community, designing IoT devices, and designing ciruitry.</p>

                </article>
                @*#post-##*@
            </div>
        </main>
        @*#main*@
    </div>
    @*#primary*@
</div>
