<div class="social-icons sticky-sidebar-social">
    <nav id="menu-social" class="social-icons">
        <ul id="menu-social-items" class="social-menu">
            <li id="menu-item-73" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73">
                <a target="_blank" href="https://twitter.com/butcer0">
                    <i class="social_icon fa">
                        <span>Twitter</span>
                    </i>
                </a>
            </li>
            <li id="menu-item-74" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a target="_blank" href="https://github.com/butcer0"><i class="social_icon fa"><span>Github</span></i></a></li>
            <li id="menu-item-510" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-510"><a href="https://www.linkedin.com/in/erik-butcher-58807a1a/"><i class="social_icon fa"><span>LinkedIn</span></i></a></li>
            <li id="menu-item-1066" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1066"><a href="https://www.youtube.com/channel/UC9viS5kCor82t4vlYmbt-Fw?&amp;ytbChannel=null"><i class="social_icon fa"><span>YouTube</span></i></a></li>
        </ul>
    </nav>
</div>